{% extends 'base.html.twig' %}

{% block title %}Devise index{% endblock %}

{% block body %}
    <h1>Devise index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for devise in devises %}
            <tr>
                <td>{{ devise.id }}</td>
                <td>{{ devise.createdAt ? devise.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ devise.updatedAt ? devise.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ devise.name }}</td>
                <td>{{ devise.description }}</td>
                <td>
                    <a href="{{ path('devise_show', {'id': devise.id}) }}">show</a>
                    <a href="{{ path('devise_edit', {'id': devise.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('devise_new') }}">Create new</a>
{% endblock %}
