{% extends 'base.html.twig' %}

{% block title %}Section{% endblock %}

{% block body %}
    <h1>Section</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ section.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ section.createdAt ? section.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ section.updatedAt ? section.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ section.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ section.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ section.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('section_index') }}">back to list</a>

    <a href="{{ path('section_edit', {'id': section.id}) }}">edit</a>

    {{ include('section/_delete_form.html.twig') }}
{% endblock %}
