<div class="table-wrap">
    <div class="table-responsive">
        <table class="table table-striped custom-table table-hover" id="repartir_mvt">
            <thead>
                <tr>
                    <th><input id="checkbox-all" type="checkbox" ></th>
                    <th>Date</th>
                    <th>Etudiant</th> 
                    <th>Promotion</th> 
                    <th>Motif</th>                               
                    <th>Montant</th>
                    <th>Source</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% set i = 1 %}
            {% for eny_mvt in eny_mvts %}
                <tr id="row{{eny_mvt.id}}">
                    <td>
                        <input class="checkbox-mvt"  type="checkbox" name="eny_mvt_id"  data-id="{{ eny_mvt.id }}">
                    </td>
                    <td>{{ eny_mvt.paidAt ? eny_mvt.paidAt|date('Y-m-d h:m') : '' }}</td>
                    <td><b>{{ eny_mvt.etudiant ? eny_mvt.etudiant : '' }}</b></td>         
                    <td><b>{{ eny_mvt.etudiant ? eny_mvt.promotion: '' }}</b></td>         
                    <td>{{ eny_mvt.rubrique ? eny_mvt.rubrique.name : '' }}</td>         
                    <td><b>{{ eny_mvt.amount |number_format(2,',',' ') ~ " " ~ eny_mvt.devise.name }}</b></td>
                    <td>{{ eny_mvt.fromBank ? 'Banque' : 'Caisse' }}</td>
                    <td>
                        <div class="text-center">
                            <img src="/assets/img/loading2.gif" id="image-{{eny_mvt.id}}" alt="" srcset="" width="35" style="visibility:hidden;">
                        </div>
                    {# {% if eny_mvt.rubrique and eny_mvt.etudiant %}
                        <a href="{{ path('eny_mvt_show', {'id': eny_mvt.id}) }}" class="btn btn-outline-primary "><i class="fa fa-eye" aria-hidden="true"></i></a>
                    {% else %}
                        <a href="{{ path('eny_mvt_edit', {'id': eny_mvt.id}) }}" class="btn btn-outline-danger "><i class="fa fa-edit" aria-hidden="true"></i></a>
                    {% endif %}  #}                               
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>N°</th>
                    <th>Date</th>
                    <th>Etudiant</th> 
                    <th>Promotion</th>
                    <th>Motif</th>                               
                    <th>Montant</th>
                    <th>Source</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>