{% extends 'base.html.twig' %}

{% block title %}Orientation index{% endblock %}

{% block body %}
    <h1>Orientation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Code</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orientation in orientations %}
            <tr>
                <td>{{ orientation.id }}</td>
                <td>{{ orientation.createdAt ? orientation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ orientation.updatedAt ? orientation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ orientation.code }}</td>
                <td>{{ orientation.name }}</td>
                <td>{{ orientation.description }}</td>
                <td>
                    <a href="{{ path('orientation_show', {'id': orientation.id}) }}">show</a>
                    <a href="{{ path('orientation_edit', {'id': orientation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orientation_new') }}">Create new</a>
{% endblock %}
