<div class="alert alert-light">
    <h1>Remplissez tous les champs obligatoires (*)</h1>
    <hr>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">{{ form_row(form.student) }}</div>
            <div class="col-md-6">{{ form_row(form.rubrique) }}</div>
        </div>
        
        <div class="row">
            <div class="col-md-4">{{ form_row(form.paidAt) }}</div>
            <div class="col-md-2">{{ form_row(form.devise) }}</div>
            <div class="col-md-6">{{ form_row(form.amount) }}</div>
        </div>
        {{ form_widget(form) }}
        <button class="btn btn-outline-success"><i class="fas fa-save    "></i> {{ button_label|default('Enregistrer') }}</button> <br>
    {{ form_end(form) }}
</div>

