{% extends 'base.html.twig' %}

{% block title %}Motif index{% endblock %}

{% block body %}
    <h1>Motif index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for motif in motifs %}
            <tr>
                <td>{{ motif.id }}</td>
                <td>{{ motif.createdAt ? motif.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ motif.updatedAt ? motif.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ motif.name }}</td>
                <td>{{ motif.description }}</td>
                <td>
                    <a href="{{ path('motif_show', {'id': motif.id}) }}">show</a>
                    <a href="{{ path('motif_edit', {'id': motif.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('motif_new') }}">Create new</a>
{% endblock %}
