<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="description" content="Gestion optimale de vos finances grâce ProKomptApp" />
        <meta name="author" content="ProKomptApp" />	
        <title>{% block title %}Welcome::KomptApp{% endblock %}</title>
        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
        <!-- icons -->
        <link href="{{ asset('fonts/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('fonts/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('fonts/material-design-icons/material-icon.css') }}" rel="stylesheet" type="text/css" />
        <!--bootstrap -->
        <link href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ asset('assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css') }}" rel="stylesheet" media="screen">
        <!-- Material Design Lite CSS -->
        <link rel="stylesheet" href="{{ asset('assets/plugins/material/material.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/material_style.css') }}">
        <!-- Theme Styles -->
        <link href="{{ asset('assets/css/theme/collapse/theme_style.css') }}" rel="stylesheet" id="rt_style_components" type="text/css" />
        <link href="{{ asset('assets/css/theme/collapse/style.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/plugins.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/pages/formlayout.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/theme/collapse/theme-color.css') }}" rel="stylesheet" type="text/css" />
        <!-- dropzone -->
        <link href="{{ asset('assets/plugins/dropzone/dropzone.css') }}" rel="stylesheet" media="screen">
        
    
        {#{{ encore_entry_link_tags('css/app') }} #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"  crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md sidemenu-closed header-white white-sidebar-color logo-indigo">
        <div class="page-wrapper">
            {% include "partials/dashboard/header.html.twig" %}
            {# {% include "home/partials/quick-setting.html.twig" %} #}
            <!-- start page container -->
		    <div class="page-container">
                {% include "partials/dashboard/menu.html.twig" %}
                <!-- start page content -->
			    <div class="page-content-wrapper">
                    <div class="page-content">
                        {% block body %}{% endblock %}
                    </div>
                </div>
			    <!-- end page content -->
            </div>
		    <!-- end page container -->
            {% include "partials/dashboard/footer.html.twig" %}
        </div>
        
        <script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/popper/popper.js') }}"></script>
        <script src="{{ asset('assets/plugins/jquery-blockui/jquery.blockui.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
        <!-- bootstrap -->
        <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/sparkline/jquery.sparkline.js') }}"></script>
        <script src="{{ asset('assets/js/pages/sparkline/sparkline-data.js') }}"></script>
        <script src="{{ asset('assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}" charset="UTF-8"></script>
        <script src="{{ asset('assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker-init.js') }}" charset="UTF-8"></script>
        <script src="{{ asset('assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js') }}" charset="UTF-8"></script>
        <script src="{{ asset('assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker-init.js') }}" charset="UTF-8"></script>

        <!-- notifications -->
        <script src="{{ asset('assets/js/notify.js') }}"></script>
        
        <!-- Common js-->
        <script src="{{ asset('assets/js/app.js') }}"></script>
        <script src="{{ asset('assets/js/number.js') }}"></script>
        <script src="{{ asset('assets/js/layout.js') }}"></script>
        <script src="{{ asset('assets/js/theme-color.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.confirm.min.js') }}"></script>
        <!-- Material -->
        <script src="{{ asset('assets/plugins/material/material.min.js') }}"></script>
        
        <!-- summernote -->
        <script src="{{ asset('assets/plugins/summernote/summernote.js') }}"></script>
        <script src="{{ asset('assets/js/pages/summernote/summernote-data.js') }}"></script>
        

        <!-- end js include path -->
        {#{{ encore_entry_script_tags('js/app') }}#}
        {% block javascripts %}{% endblock %}
    </body>
</html>
