{% extends 'base.html.twig' %}

{% block title %}Tranche index{% endblock %}

{% block body %}
    <h1>Tranche index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Code</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tranche in tranches %}
            <tr>
                <td>{{ tranche.id }}</td>
                <td>{{ tranche.createdAt ? tranche.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tranche.updatedAt ? tranche.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tranche.code }}</td>
                <td>{{ tranche.name }}</td>
                <td>
                    <a href="{{ path('tranche_show', {'id': tranche.id}) }}">show</a>
                    <a href="{{ path('tranche_edit', {'id': tranche.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tranche_new') }}">Create new</a>
{% endblock %}
