<div class="table-wrap">
    <div class="table-responsive">
        <table class="table table-striped custom-table table-hover " id="detailRubriqueComptes">
            <thead>
                <tr>
                    <td class="text-center" width="4%">N°</td>
                    <td class="text-left" width="17%">Enregistré</td>
                    <td class="text-left" width="20%">Sous-rubrique</td>
                    <td class="text-left" width="25%">Comptes</td>
                    <td class="text-center" width="9%">%</td>
                    <td class="text-left" width="12%">Montant</td>
                    <td class="text-center" ></td>
                </tr>
            </thead>
            <tbody>
            {% set devise = rubrique.lastDetailsRubrique.devise.name %}
            {% set somme = 0 %} 
            {% set percent = 0 %}
            {% set i = 1 %}
                {% for item in rubrique.enyRubriqueCpts %}
                {% if item.deletedAt == null %}
                    <tr>
                        <td class="text-center">{{ i }}</td>
                        <td class="text-left" >{{item.createdAt | date("d-m-Y H:m:s") | format_datetime(locale='fr')}}</td>
                        <td >{{item.nameSrubrique}}</td>
                        <td >{{item.compte.name}}</td>
                        <td class="text-center">{{item.percent}}</td>
                        <td class="text-right"><b>{{item.amount | number_format(2,',','.') ~' '~ devise}}</b></td>                        
                        <td class="text-center">
                            <button class="btn btn-primary btn-circle" id="btnEditCompte" data-id="{{item.id}}"><i class="fa fa-edit" aria-hidden="true"></i></button>
                            <button class="btn btn-danger btn-circle btnDeleteCompte"  data-id="{{item.id}}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </td>                       
                    </tr>
                    {% set somme  = somme + item.amount %}
                    {% set percent = percent + item.percent %}
                    {% set i = i + 1 %}
                {% endif %}                    
                {% endfor %}
            </tbody>
            <tfoot>
                <tr style="background-color:">
                    <td class="text-center" width="4%"></td>
                    <td class="text-center" width="17%"></td>
                    <td class="text-left" width="20%"></td>
                    <td class="text-left" width="25%"></td>
                    <td class="text-center" width="9%"><b>{{ percent }} %</b></td>
                    <td class="text-right" width="12%"><b>{{somme | number_format(2,',',' ') ~' '~ devise}}</b></td>
                    <td class="text-center" ></td>
                </tr>
            </tfoot>                                
        </table>
    </div>
</div>
{% block javascripts %}
    <script>

        
        
    </script>
{% endblock %}