<div class="card card-box">
    <div id="message"></div>
    <div class="card-head">
        <header id="header">Création d'un compte</header>
    </div>
    <div class="card-body " id="bar-parent">
        <div id="message"></div>
        {% set id = (compte is defined)?'edit':'create' %}       
        {{ form_start(form, {'attr': {'id': id}}) }}
        <div class="row">
            <div class="col-md-4">{{ form_row(form.code) }}</div>
            <div class="col-md-8">{{ form_row(form.name) }}</div>
        </div>
        <div class="row"> <input type="hidden" name="id" value="{{ (compte is defined)? compte.id:0 }}"></div>
        {{ form_widget(form) }}
        <button type="button" class="btn btn-circle btn-default m-b-10" id="btnCancel"><i class="fa fa-trash"></i> Annuler</button>
        <button type="submit" class="btn btn-circle btn-primary float-right m-b-10" id="btnSave"><i class="fa fa-check"></i> Enregistrer</button>
        {{ form_end(form) }}
    </div>
</div>
